
*{ /*CSS soft reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url("fundo-tech.jpeg");
	background-size: 100vw auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: arial;
	font-size: 10px;
}

@media(min-width: 400px){ /*Se a tela tiver pelo menos 400 pixels, carregará esses estilos*/
	body{
		font-size: 14px;
	}
}

@media(min-width: 600px){
	body{
		font-size: 16px;
	}
}

@media(min-width: 1200px){
	body{
		font-size: 20px;
	}
}

header{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu{
	background-color: rgb(105, 18, 69);
	position: fixed;
	width: 100vw;
	top: 0;
}

.menu li{
	font-weight: bold;
	list-style: none; /*Faz com que suma o pontinho antes dos elementos*/
}

.menu ul{
	display: flex; /*Faz os elementos serem exibidos em colunas*/
	justify-content: space-around;
}

.menu a{
	display: block;/*tags inline como <a /> não são considerados block, sendo necessário o uso do `display: block`*/
	padding: 15px;
}

a{
	color: whitesmoke;
	text-decoration: none;/*Faz o link não ficar sublinhado*/
}

a:hover{
	text-decoration: underline;/*Faz o link ficar sublinhado ao passar o mouse em cima*/
}

.site-subtitle, /*Faz as duas classes terem as mesmas propriedades*/
.site-title{
	color: whitesmoke;
	text-align: center;
}

.site-subtitle{
	font-style: italic;
}

.img-portfolio{
	height: 100px;
	width: 100px;
}

figcaption{
	color: red;
}