
*{ /*CSS soft reset*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-attachment: fixed;
	background-image: url("fundo-tech.jpeg");
	background-size: 100vw auto;
	background-repeat: no-repeat;
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
}

@media(min-width: 700px){
	body{
		font-size: 18px;
	}
}

@media(min-width: 1200px){
	body{
		font-size: 20px;
	}
}

@media(max-width: 699px){
	body{
		background-attachment: fixed;
		background-position-x: center;
		background-size: auto 100vh;
		background-repeat: no-repeat;
		font-family: 'Rubik', sans-serif;
		font-size: 14px;
	}
}

header{
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;

}

.menu{
	background-color: rgb(105, 18, 69);
	position: fixed;
	top: 0;
	width: 100vw;
}

.menu li{
	font-family: 'Ubuntu Mono', monospace;
	font-weight: bold;
	list-style: none; /*Faz com que suma o pontinho antes dos elementos*/
}

.menu ul{
	display: flex; /*Faz os elementos serem exibidos em colunas*/
	justify-content: space-around;
}

.menu a{
	display: block;/*tags inline como <a /> não são considerados block, sendo necessário o uso do `display: block`*/
	padding: 15px;
}

a{
	color: whitesmoke;
	text-decoration: none;/*Faz o link não ficar sublinhado*/
}

a:hover{
	text-decoration: underline;/*Faz o link ficar sublinhado ao passar o mouse em cima*/
}

.site-subtitle, /*Faz as duas classes terem as mesmas propriedades*/
.site-title{
	color: whitesmoke;
	line-height: 1.5em;
	text-align: center;
}

.site-title{
	font-family: 'Ubuntu Mono', monospace;
	font-size: 3em;
}

.site-subtitle{
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
}

figcaption{
	color: whitesmoke;
}

.projetos{
	padding: 2em;
	height: 100vh;
}

.projetos h2{
	color: whitesmoke;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	justify-content: center;
	margin-bottom: 1.5em;
}

.projetos .grid{
	align-items: center;
	display: grid;
	gap: 2em;
}

@media(min-width: 708px){
	.projetos .grid{
		grid-template-columns: 304px 304px;
		justify-content: center;
	}
}

@media(min-width: 1012px){
	.projetos.grid{
		align-content: center;
		grid-template-columns: repeat(3, 304);
		justify-content: center;
	}
}

.projetos figure{
	text-align: center;
	
}

.img-projetos{
	height: 166px;
	width: 100%;
	object-fit: cover;
}
